<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidcare.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:targetSdkVersion="9"
        android:minSdkVersion="9" />

	<!-- Permisos -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- obtención de las cuentas de google -->
	<uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- usar las cuentas de google -->
	<uses-permission android:name="android.permission.INTERNET" /> <!-- descargar datos de Internet -->
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" /> <!-- permitir la creación de alarmas -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- permitir la localización por red y gps -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- permitir obtener el estado de la conexión de red -->
		
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name=".PreferencesActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReminderDialogReceiver"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".AccountSelectorActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        
        <!-- reminder notification receiver -->
        <receiver  android:process=":remote" android:name="ReminderReceiver">
        </receiver>
        <service 	android:enabled="true" android:name=".service.ReminderService" /> <!-- Hay que poner la clase con el paquete, porque está en distinto paquete que aquel que le invoca -->
        
        <!--  start the service on boot -->
        <receiver android:name="StartupIntentReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
    </application>
</manifest>