<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>alertServlet</servlet-name>
    <servlet-class>org.androidcare.web.server.AlertServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>positionServlet</servlet-name>
    <servlet-class>org.androidcare.web.server.PositionServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>retrieveReminders</servlet-name>
    <servlet-class>org.androidcare.web.server.api.RetrieveReminders</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addReminderLog</servlet-name>
    <servlet-class>org.androidcare.web.server.api.AddReminderLog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addPosition</servlet-name>
    <servlet-class>org.androidcare.web.server.api.AddPosition</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>alertServlet</servlet-name>
    <url-pattern>/androidcare_web/alert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>positionServlet</servlet-name>
    <url-pattern>/androidcare_web/position</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>retrieveReminders</servlet-name>
    <url-pattern>/api/retrieveReminders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addReminderLog</servlet-name>
    <url-pattern>/api/addReminderLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addPosition</servlet-name>
    <url-pattern>/api/addPosition</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Dashboard.html</welcome-file>
  </welcome-file-list>
  
  <!-- Security -->
  	<security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
    		<url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
