<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>reminderServlet</servlet-name>
    <servlet-class>org.androidcare.web.server.module.dashboard.ReminderServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadReminderPhotoServlet</servlet-name>
    <servlet-class>org.androidcare.web.server.module.dashboard.UploadReminderPhotoServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>positionServlet</servlet-name>
    <servlet-class>org.androidcare.web.server.module.dashboard.PositionServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>users</servlet-name>
    <servlet-class>org.androidcare.web.server.module.userbox.LoggedUserServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>retrieveReminders</servlet-name>
    <servlet-class>org.androidcare.web.server.api.RetrieveReminders</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>retrieveAlarms</servlet-name>
      <servlet-class>org.androidcare.web.server.api.RetrieveAlarms</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addReminderLog</servlet-name>
    <servlet-class>org.androidcare.web.server.api.AddReminderLog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addPosition</servlet-name>
    <servlet-class>org.androidcare.web.server.api.AddPosition</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadReminderPhoto</servlet-name>
    <servlet-class>org.androidcare.web.server.module.dashboard.UploadReminderPhoto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReminderPhoto</servlet-name>
    <servlet-class>org.androidcare.web.server.api.ReminderPhoto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>alarmServlet</servlet-name>
    <servlet-class>org.androidcare.web.server.module.dashboard.AlarmServiceImpl</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>sendMailAlarm</servlet-name>
      <servlet-class>org.androidcare.web.server.api.SendMailAlarm</servlet-class>
  </servlet>

    <servlet-mapping>
    <servlet-name>uploadReminderPhotoServlet</servlet-name>
    <url-pattern>/dashboard/uploadReminderPhoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reminderServlet</servlet-name>
    <url-pattern>/dashboard/reminder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>positionServlet</servlet-name>
    <url-pattern>/dashboard/position</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadReminderPhoto</servlet-name>
    <url-pattern>/dashboard/reminderUpload</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/userBox/users</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>retrieveReminders</servlet-name>
    <url-pattern>/api/retrieveReminders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>retrieveAlarms</servlet-name>
    <url-pattern>/api/retrieveAlarms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addReminderLog</servlet-name>
    <url-pattern>/api/addReminderLog</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMailAlarm</servlet-name>
        <url-pattern>/api/sendMailAlarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>addPosition</servlet-name>
    <url-pattern>/api/addPosition</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ReminderPhoto</servlet-name>
    <url-pattern>/api/reminderPhoto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>alarmServlet</servlet-name>
    <url-pattern>/dashboard/alarm</url-pattern>
  </servlet-mapping>

    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Security -->
  	<security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
    		<url-pattern>/api/retrieveReminders</url-pattern>
    		<url-pattern>/api/addPosition</url-pattern>
            <url-pattern>/api/addReminderLog</url-pattern>
            <url-pattern>/api/sendMailAlarm</url-pattern>
    		<url-pattern>/userBox/*</url-pattern>
    		<url-pattern>/dashboard/*</url-pattern>
    		<url-pattern>/Dashboard.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
