<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>alertServlet</servlet-name>
    <servlet-class>org.androidcare.web.server.AlertServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>retrieveAlerts</servlet-name>
    <servlet-class>org.androidcare.web.server.api.RetrieveAlerts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addAlertLog</servlet-name>
    <servlet-class>org.androidcare.web.server.api.AddAlertLog</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>alertServlet</servlet-name>
    <url-pattern>/androidcare_web/alert</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>retrieveAlerts</servlet-name>
    <url-pattern>/api/retrieveAlerts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addAlertLog</servlet-name>
    <url-pattern>/api/addAlertLog</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Security -->
  	<security-constraint>
        <web-resource-collection>
            <url-pattern>/Dashboard.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
