/* =================================================================== */
/* Styles Switcher
====================================================================== */

	#style-switcher h3 {
		color: #252525;
		font-size: 14px;
		margin: 5px 3px;
		font-family: 'Novecentowide-DemiBold';
	}
	
	#style-switcher {
		background: #fff;
		width: 195px;
		position:fixed;
		top: 45%;
		z-index:9999;
		left: -189px;
		-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
		-moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
		box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
	}
	
	#style-switcher div {
		padding: 5px 10px;
	}
	
	#style-switcher .bottom {
		color: #252525;
		padding: 0;
		height: 40px;
	}
	
	#style-switcher .bottom a.settings {
		display: block;
		height: 41px;
		position: absolute;

		right: -40px;
		text-indent: -9999px;
		bottom: 0;
		width: 44px;
	}
	
	.colors, .backgrounds, .menus { list-style:none; margin: 0px 0px 10px 0px; overflow: hidden}
	.colors li, .backgrounds li, .menus li { float:left; margin:2px; }
	.colors li a, .backgrounds a, .menus a { display: block; width:30px; height:30px; cursor: pointer;} 
	.colors li a:hover { opacity: 0.8 }
	
	#reset {margin: 0 0 15px 2px;}
	#reset a {color: #fff; font-size: 12px; padding: 5px 14px; box-shadow: none; border-radius: 1px; }
	#reset a:hover { background: #252525; }
	
	.orange { background: #ff3600; }
	.blue { background: #169fe6; }
	.green { background: #389646; }
	.red { background: #de3939; }
	.pink { background: #e72e74; }
	.purple { background: #7f287c; }
	.yellow { background: #ffd200; }
	.turquoise { background: #09b7b1; }
	.brown { background: #77482c; }
	.grass { background: #65a617; }

	.bg1 { background-image: none; }
	.bg2 { background-image: url("../images/bg/grunge.png"); }
	.bg3 { background-image: url("../images/bg/gray_jean.png"); }
	.bg4 { background-image: url("../images/bg/linedpaper.png"); }
	.bg5 { background-image: url("../images/bg/shattered.png"); }
	
	.menulight { background: #fff; }
	.menudark { background: #191919; }
	
	.colors li a.active { box-shadow:0 0 0 2px #fff inset }
	.backgrounds li a.active { box-shadow:0 0 0 2px #252525 inset }
	.menus li a.active { box-shadow:0 0 0 2px #252525 inset }
	
	@media only screen and (max-width: 1029px) { #style-switcher { display: none; } }
	   