/* CUSTOM */
body{
	font: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}

#userContainer{
	float: right;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#closeButton {
  margin: 15px 6px 6px;
}

#header {
    box-shadow: 0 1px 0 rgba(0,0,0,.5), 0 2px 0 rgba(255,255,255,.5);
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
    background: #fff;
    height: 50px;
    padding: 5px;
}
#header img{
	margin-top: 10px;
}
#headerContainer{
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 20px;
}
#tableContainer{
	margin: 10px;
}

.flexTable{
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
}

.flexTable-title{
	font-weight: bold;
}

.flexTable-button{
	width: 12px;
	min-width: 120px;
}

.flexTable td{
	padding: 0 5px 0 5px;
}

.flexTable-row:hover{
	background: #eee;	
}

/**
 * 
 *    GWT
 * 
 **/

.gwt-Button:before{
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;     
    pointer-events: none;		
}
.gwt-Button {
	display: inline-block;
    white-space: nowrap;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(top, #eee, #ccc);
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    cursor: pointer;
}
.gwt-Button:active {
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}
.gwt-Button:hover {
  	background-color: #eee;        
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
}
.gwt-Button:focus{
    outline: 0;
    background: #fafafa;
}
.edit:before{
    content: "\270E";        
}
.new:before{
    content: "\271A";
}
.remove:before{
    content: "\2718";
}
.log:before{
    content: "\2709";
}
.refresh:before{
	content: "\27F3";
}
.save:before{
	content: "\2714";        
}
.transparent{
	background: none;
	border: 0px;
	cursor: pointer;
}
.gwt-TabBar{
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#777));
    background-image: -webkit-linear-gradient(top, #bbb, #777);
    background-image: -moz-linear-gradient(top, #bbb, #777);
    background-image: -ms-linear-gradient(top, #bbb, #777);
    background-image: -o-linear-gradient(top, #bbb, #777);
    background-image: linear-gradient(top, #bbb, #777);
}

.gwt-TabPanelBottom{
	padding: 10px;
    border: 1px solid #777;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
.gwt-TabBarItem{
    font: 1em/2em Arial, Helvetica;
    padding: 0 1.5em;
    margin: 0.2em;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: .5em .5em 0 0;
    color: #fff;
}
.gwt-TabBarItem:hover,
.gwt-TabBarItem-selected{
	border: 1px solid #777;
	border-bottom: 0px;
	color: #000;
  	background-color: #eee;        
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
}

.gwt-DialogBox{
	border-radius: 1em;
	background: #fff;
	border: 1px solid #777;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
.dialogTopCenter{
	border: 1px solid #777;
    font: 1em/2em Arial, Helvetica;
	border-radius: 1em 1em 0 0;
	padding: 5px;
	color: #fff;
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#777));
    background-image: -webkit-linear-gradient(top, #bbb, #777);
    background-image: -moz-linear-gradient(top, #bbb, #777);
    background-image: -ms-linear-gradient(top, #bbb, #777);
    background-image: -o-linear-gradient(top, #bbb, #777);
    background-image: linear-gradient(top, #bbb, #777);
}
.closeAnchor{
	color: #fff;
	text-decoration: none;
}
.closeAnchor:hover{
	text-decoration: underline;
}

.gwt-DateBox {
  padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: 100%;
}
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}
.dateBoxPopup {
}

.gwt-DatePicker {
  border: 1px solid #ccc;
  border-top:1px solid #999;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none;
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 85%;
  text-align: center;
  padding: 4px;
  outline: none;
  font-weight:bold;
  color:#333;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #fff;
  padding: 0px 4px 2px;
  cursor: default;
  color:#666;
  font-size:70%;
  font-weight:normal;
}
.datePickerDay {
  padding: 4px 7px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsWeekend {
  background: #f7f7f7;
}
.datePickerDayIsFiller {
  color: #999;
  font-weight:normal;
}
.datePickerDayIsValue {
  background: #d7dfe8;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #d7dfe8;
}
.datePickerDayIsToday {
  padding: 3px;
  color: #fff;
  background: url(images/hborder.png) repeat-x 0px -2607px;
}

.datePickerMonthSelector {
  width: 100%;
  padding: 1px 0 5px 0;
  background: #fff;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 100%;
  font-weight: bold;
  color: #333;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: #3a6aad;
  cursor: hand;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 4px;
  outline: none;
}
.gwt-TextBox {
  padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
	font-size: 100%;
  font-family: Arial Unicode MS, Arial, sans-serif;
}
.gwt-TextBox-readonly {
  color: #888;
}
.gwt-TextArea {
  padding: 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #666;
  font-size: 100%;
  font-family: Arial Unicode MS, Arial, sans-serif;
}
.gwt-TextArea-readonly {
  color: #888;
}
.gwt-Label {
    font: 1em/2em Arial, Helvetica;
}
.gwt-RadioButton {
    font: 1em/2em Arial, Helvetica;
}
.gwt-RadioButton-disabled {
    font: 1em/2em Arial, Helvetica;
  color: #888;
}

.hyperlink_style_label{
	color: blue;
	cursor: pointer;
}
.hyperlink_style_label:hover{
	text-decoration: underline;
}